@inherits LayoutComponentBase

<nav class="bg-info text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a class="navbar-brand" href="/admin" style="color: white">
                    <span class="navbar-brand ml-2">News Administration</span>
                </a>
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-primary" href="/account/logout">Log Out</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            @Body
        </div>
    </div>
</div>