@page "/admin"
@{ Layout = null; }
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<!DOCTYPE html>
<html lang="en">
<head>
    <title>News Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <base href="/"/>
</head>
<body>
<component type="typeof(Routed)" render-mode="Server"/>
<script src="/_framework/blazor.server.js"></script>
</body>
</html>